*.pidb
configure
install-sh
aclocal.m4
config.status
config.log
autom4te.cache
missing
*Makefile
*Makefile.in
*.exe
bin/
*.userprefs
tests/output
src/generator/generator
*.pc
.DS_Store
*.user
*.suo
*.DotSettings
*.sdf
*.opensdf
*.pdb
*.config
*.vcxproj
*.filters
*.metagen
*.ilk
*.manifest
*.tmp
*.cache
*.force
*DesignTime*
*TemporaryGeneratedFile*
*FileListAbsolute*
/build
/deps/llvm
/deps/NUnit*
/extra
/site
/wip
/test-build
.vs

# Nuget: do not include produced packages
/build/nuget/*.nupkg
/build/nuget/tools/*

